<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js" lang="esp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/animated.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular-sanitize.js"></script>
        <script type="text/javascript" src="js/angularScope.js">

        </script>
    </head>
    <body>


        <!--============================================================  fin contenido ==============================================================-->

        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/main.js"></script>
    </body>
</html>
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="esp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Books and Books • Digital • 2015</title>
        <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/animated.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->



        <!--============================================================  contenido ==============================================================-->


        <!-- =========================================================================== menu sup ===============================================-->

        <header>
            <nav>
                <div class="wrapMenu">
                    <div class="innerMenu">
                        <div class="logoBooks f-l"></div>
                        <div class="logoDigital f-l"></div>

                        <div class="animatedBtn">
                            <!-- boton presentacion -->
                            <a href="presentacion.html" class="f-l btnPresent">
                                <div class="btnCircle1">
                                    <div class="rollo1"></div>
                                    <div class="rollo2"></div>
                                </div>
                                <div class="label">Presentación</div>
                            </a>

                            <!-- boton navegacion -->
                            <a href="navegacion.html" class="f-l btnPresent">
                                <div class="btnCircle2">
                                    <div class="ship"></div>
                                </div>
                                <div class="label2">Navegación</div>
                            </a>
                        </div>
                            <!-- boton navegacion -->
                            <a href="scope.html" class="f-l btnPresent topScope">
                                <div class="btnCircle2">
                                    <div class="book"></div>
                                    <div class="hand"></div>
                                </div>
                                <div class="label2">Scope</div>
                            </a>
                        </div>

                    </div>
                    <!-- <div class="shadowMenu"></div> -->


                </div>

            </nav>

        </header>
        <!-- =========================================================================== fin menu sup ===============================================-->


        <section ng-app="appScope">
                <div class="wrapScope" ng-controller="appController">
                        <div class="levelLat">
                                <p>Level</p>
                                <a ng-click="showBtnA1()" ng-class=" { btnSel : tab === 1 } ">a <span>1</span></a>
                                <a ng-click="showBtnA2()" ng-class=" { btnSel : tab === 2 } ">a <span>2</span></a>
                                <a ng-click="showBtnA2plus()" ng-class=" { btnSel : tab === 3 } ">a <span>2 +</span></a>
                                <a ng-click="showBtnB1()" ng-class=" { btnSel : tab === 4 } ">b <span>1</span></a>
                                <a ng-click="showBtnB1plus()" ng-class=" { btnSel : tab === 5 } ">b <span>1 +</span></a>
                        </div>
                        <div class="contScope">

                                <!--  ================================== show a1 ===================================-->
                                <div ng-show="showA1">
                                        <h1 class="titA1">
                                                Scope and Sequence Level Starter
                                        </h1>

                                        <div class="wrapsScopeSel">
                                                <p>unit</p>
                                                <select ng-model="unit1">
                                                        <option value="one"> 1 Sign In</option>
                                                        <option value="two" >2 My Profile</option>
                                                        <option value="tree">3 Family and Friends</option>
                                                        <option value="four">4 My Social Network</option>
                                                        <option value="five">5 My Community</option>
                                                        <option value="six">6 Style and Lifestyle</option>
                                                        <option value="seven">7 Routines</option>
                                                        <option value="eight">8 Present and Future</option>
                                                </select>
                                        </div>


                                        <div class="tableScope" >
                                                <table class="tableA1" width="100%"  ng-show="unit1=='one'">
                                                          <tr ng-repeat="data in datos | filter: {id : 01} "  >
                                                                    <td width="20%">{{data.titulo}}</td>
                                                                    <td width="80%" ng-bind-html="data.contenido" > </td>
                                                          </tr>
                                                </table>
                                                <table class="tableA1" width="100%"  ng-show="unit1=='two'">
                                                          <tr ng-repeat="data in datos | filter: {id : 02}"  >
                                                                    <td width="20%">{{data.titulo}}</td>
                                                                    <td width="80%" ng-bind-html="data.contenido"  > </td>
                                                          </tr>
                                                </table>
                                                <table class="tableA1" width="100%"  ng-show="unit1=='tree'">
                                                          <tr ng-repeat="data in datos | filter: {id : 03}"  >
                                                                    <td width="20%">{{data.titulo}}</td>
                                                                    <td width="80%" ng-bind-html="data.contenido" ></td>
                                                          </tr>
                                                </table>
                                                <table class="tableA1" width="100%"  ng-show="unit1=='four'">
                                                          <tr ng-repeat="data in datos | filter: {id : 04}"  >
                                                                    <td width="20%">{{data.titulo}}</td>
                                                                    <td width="80%" ng-bind-html="data.contenido" > </td>
                                                          </tr>
                                                </table>
                                                <table class="tableA1" width="100%"  ng-show="unit1=='five'">
                                                          <tr ng-repeat="data in datos | filter: {id : 05}">
                                                                    <td width="20%" >{{data.titulo}}</td>
                                                                    <td width="80%" ng-bind-html="data.contenido" > </td>
                                                          </tr>
                                                </table>
                                                <table class="tableA1" width="100%"  ng-show="unit1=='six'">
                                                          <tr ng-repeat="data in datos | filter: {id : 06}">
                                                                    <td width="20%" >{{data.titulo}}</td>
                                                                    <td width="80%" ng-bind-html="data.contenido" > </td>
                                                          </tr>
                                                </table>
                                                <table class="tableA1" width="100%"  ng-show="unit1=='seven'">
                                                          <tr ng-repeat="data in datos | filter: {id : 07}">
                                                                    <td width="20%" >{{data.titulo}}</td>
                                                                    <td width="80%" ng-bind-html="data.contenido" > </td>
                                                          </tr>
                                                </table>
                                                <table class="tableA1" width="100%"  ng-show="unit1=='eight'">
                                                          <tr ng-repeat="data in datos | filter: {id : 08}">
                                                                    <td width="20%" >{{data.titulo}}</td>
                                                                    <td width="80%" ng-bind-html="data.contenido" > </td>
                                                          </tr>
                                                </table>
                                        </div>
                                </div>
                                <!--  ================================== fin show a1 ===================================-->


                                <!--  ================================== show a2 ===================================-->
                                <div ng-show="showA2">
                                        <h1 class="titA2">
                                                Scope and Sequence Level 1
                                        </h1>

                                        <div class="wrapsScopeSel">
                                                <p>unit</p>
                                                <select ng-model="unitA2">
                                                        <option value="one">1 How are you?</option>
                                                        <option value="two">2 How’s your family?</option>
                                                        <option value="tree">3 What kind of music do you like?</option>
                                                        <option value="four">4 She loves to go dancing!</option>
                                                        <option value="five">5 Where are you going?</option>
                                                        <option value="six">6 How much is it?</option>
                                                        <option value="seven">7 Is there a copy shop near here?</option>
                                                        <option value="eight">8 Turn right at the light</option>
                                                        <option value="nine">9 Is this the bus to Rio?</option>
                                                        <option value="ten">10 I like to sleep late</option>
                                                        <option value="eleven">11 Did you do the homework?</option>
                                                        <option value="twelve">12 What happened?</option>
                                                </select>
                                        </div>


                                        <div class="tableScope" >
                                                <table class="tableA2" width="100%"  ng-show="unitA2=='one' ">
                                                    <tr ng-repeat="dataA2 in datosA2 | filter: {id : '01'} "  >
                                                        <td width="20%">{{dataA2.titulo}}</td>
                                                        <td width="80%" ng-bind-html="dataA2.contenido" > </td>
                                                    </tr>
                                                </table>
                                                <table class="tableA2" width="100%"  ng-show="unitA2=='two' ">
                                                    <tr ng-repeat="dataA2 in datosA2 | filter: {id : '02'} "  >
                                                        <td width="20%">{{dataA2.titulo}}</td>
                                                        <td width="80%" ng-bind-html="dataA2.contenido" > </td>
                                                    </tr>
                                                </table>
                                                <table class="tableA2" width="100%"  ng-show="unitA2=='tree' ">
                                                    <tr ng-repeat="dataA2 in datosA2 | filter: {id : '03'} "  >
                                                        <td width="20%">{{dataA2.titulo}}</td>
                                                        <td width="80%" ng-bind-html="dataA2.contenido" > </td>
                                                    </tr>
                                                </table>
                                                <table class="tableA2" width="100%"  ng-show="unitA2=='four' ">
                                                    <tr ng-repeat="dataA2 in datosA2 | filter: {id : '04'} "  >
                                                        <td width="20%">{{dataA2.titulo}}</td>
                                                        <td width="80%" ng-bind-html="dataA2.contenido" > </td>
                                                    </tr>
                                                </table>
                                                <table class="tableA2" width="100%"  ng-show="unitA2=='five' ">
                                                    <tr ng-repeat="dataA2 in datosA2 | filter: {id : '05'} "  >
                                                        <td width="20%">{{dataA2.titulo}}</td>
                                                        <td width="80%" ng-bind-html="dataA2.contenido" > </td>
                                                    </tr>
                                                </table>
                                                <table class="tableA2" width="100%"  ng-show="unitA2=='six' ">
                                                    <tr ng-repeat="dataA2 in datosA2 | filter: {id : '06'} "  >
                                                        <td width="20%">{{dataA2.titulo}}</td>
                                                        <td width="80%" ng-bind-html="dataA2.contenido" > </td>
                                                    </tr>
                                                </table>
                                                <table class="tableA2" width="100%"  ng-show="unitA2=='seven' ">
                                                    <tr ng-repeat="dataA2 in datosA2 | filter: {id : '07'} "  >
                                                        <td width="20%">{{dataA2.titulo}}</td>
                                                        <td width="80%" ng-bind-html="dataA2.contenido" > </td>
                                                    </tr>
                                                </table>
                                                <table class="tableA2" width="100%"  ng-show="unitA2=='eight' ">
                                                    <tr ng-repeat="dataA2 in datosA2 | filter: {id : '08'} "  >
                                                        <td width="20%">{{dataA2.titulo}}</td>
                                                        <td width="80%" ng-bind-html="dataA2.contenido" > </td>
                                                    </tr>
                                                </table>
                                                <table class="tableA2" width="100%"  ng-show="unitA2=='nine' ">
                                                    <tr ng-repeat="dataA2 in datosA2 | filter: {id : '09'} "  >
                                                        <td width="20%">{{dataA2.titulo}}</td>
                                                        <td width="80%" ng-bind-html="dataA2.contenido" > </td>
                                                    </tr>
                                                </table>
                                                <table class="tableA2" width="100%"  ng-show="unitA2=='ten' ">
                                                    <tr ng-repeat="dataA2 in datosA2 | filter: {id : '10'} "  >
                                                        <td width="20%">{{dataA2.titulo}}</td>
                                                        <td width="80%" ng-bind-html="dataA2.contenido" > </td>
                                                    </tr>
                                                </table>
                                                <table class="tableA2" width="100%"  ng-show="unitA2=='eleven' ">
                                                    <tr ng-repeat="dataA2 in datosA2 | filter: {id : '11'} "  >
                                                        <td width="20%">{{dataA2.titulo}}</td>
                                                        <td width="80%" ng-bind-html="dataA2.contenido" > </td>
                                                    </tr>
                                                </table>
                                                <table class="tableA2" width="100%"  ng-show="unitA2=='twelve' ">
                                                    <tr ng-repeat="dataA2 in datosA2 | filter: {id : '12'} "  >
                                                        <td width="20%">{{dataA2.titulo}}</td>
                                                        <td width="80%" ng-bind-html="dataA2.contenido" > </td>
                                                    </tr>
                                                </table>
                                        </div>
                                </div>
                                <!--  ================================== fin show a2 ===================================-->
                                <!--  ================================== show a2 plus ===================================-->
                                <div ng-show="showA2plus">
                                    <h1 class="titA2plus">
                                            Scope and Sequence Level 2
                                    </h1>

                                    <div class="wrapsScopeSel">
                                        <p>unit</p>
                                        <select ng-model="unitA2plus">
                                            <option value="one"> 1 Special Occasions</option>
                                            <option value="two" > 2 Relationships</option>
                                            <option value="tree"> 3 House and Home</option>
                                            <option value="four"> 4 Clothing and Weather</option>
                                            <option value="five"> 5 On Sale!</option>
                                            <option value="six"> 6 Public life / Entertainment</option>
                                            <option value="seven"> 7 Errands</option>
                                            <option value="eight"> 8 Health and Illness</option>
                                            <option value="nine"> 9 What’s wrong?</option>
                                            <option value="ten"> 10 It was an accident</option>
                                            <option value="eleven"> 11 Sports</option>
                                            <option value="twelve"> 12 International Travel</option>
                                        </select>
                                    </div>


                                    <div class="tableScope" >
                                        <table class="tableA2plus" width="100%"  ng-show="unitA2plus=='one' ">
                                            <tr ng-repeat="dataA2plus in datosA2plus | filter: {id : '01'} "  >
                                                <td width="20%">{{dataA2plus.titulo}}</td>
                                                <td width="80%" ng-bind-html='dataA2plus.contenido'></td>
                                            </tr>
                                        </table>
                                        <table class="tableA2plus" width="100%"  ng-show="unitA2plus=='two'">
                                            <tr ng-repeat="dataA2plus in datosA2plus | filter: {id : '02'}"  >
                                                <td width="20%">{{dataA2plus.titulo}}</td>
                                                <td width="80%" ng-bind-html='dataA2plus.contenido'></td>
                                            </tr>
                                        </table>
                                        <table class="tableA2plus" width="100%"  ng-show="unitA2plus=='tree'">
                                            <tr ng-repeat="dataA2plus in datosA2plus | filter: {id : '03'}"  >
                                                <td width="20%">{{dataA2plus.titulo}}</td>
                                                <td width="80%" ng-bind-html='dataA2plus.contenido'></td>
                                            </tr>
                                        </table>
                                        <table class="tableA2plus" width="100%"  ng-show="unitA2plus=='four'">
                                            <tr ng-repeat="dataA2plus in datosA2plus | filter: {id : '04'}"  >
                                                <td width="20%">{{dataA2plus.titulo}}</td>
                                                <td width="80%" ng-bind-html='dataA2plus.contenido'></td>
                                            </tr>
                                        </table>
                                        <table class="tableA2plus" width="100%"  ng-show="unitA2plus=='five'">
                                            <tr ng-repeat="dataA2plus in datosA2plus | filter: {id : '05'}"  >
                                                <td width="20%">{{dataA2plus.titulo}}</td>
                                                <td width="80%" ng-bind-html='dataA2plus.contenido'></td>
                                            </tr>
                                        </table>
                                        <table class="tableA2plus" width="100%"  ng-show="unitA2plus=='six'">
                                            <tr ng-repeat="dataA2plus in datosA2plus | filter: {id : '06'}"  >
                                                <td width="20%">{{dataA2plus.titulo}}</td>
                                                <td width="80%" ng-bind-html='dataA2plus.contenido'></td>
                                            </tr>
                                        </table>
                                        <table class="tableA2plus" width="100%"  ng-show="unitA2plus=='seven'">
                                            <tr ng-repeat="dataA2plus in datosA2plus | filter: {id : '07'}"  >
                                                <td width="20%">{{dataA2plus.titulo}}</td>
                                                <td width="80%" ng-bind-html='dataA2plus.contenido'></td>
                                            </tr>
                                        </table>
                                        <table class="tableA2plus" width="100%"  ng-show="unitA2plus=='eight'">
                                            <tr ng-repeat="dataA2plus in datosA2plus | filter: {id : '08'}"  >
                                                <td width="20%">{{dataA2plus.titulo}}</td>
                                                <td width="80%" ng-bind-html='dataA2plus.contenido'></td>
                                            </tr>
                                        </table>
                                        <table class="tableA2plus" width="100%"  ng-show="unitA2plus=='nine'">
                                            <tr ng-repeat="dataA2plus in datosA2plus | filter: {id : '09'}"  >
                                                <td width="20%">{{dataA2plus.titulo}}</td>
                                                <td width="80%" ng-bind-html='dataA2plus.contenido'></td>
                                            </tr>
                                        </table>
                                        <table class="tableA2plus" width="100%"  ng-show="unitA2plus=='ten'">
                                            <tr ng-repeat="dataA2plus in datosA2plus | filter: {id : '10'}"  >
                                                <td width="20%">{{dataA2plus.titulo}}</td>
                                                <td width="80%" ng-bind-html='dataA2plus.contenido'></td>
                                            </tr>
                                        </table>
                                        <table class="tableA2plus" width="100%"  ng-show="unitA2plus=='eleven'">
                                            <tr ng-repeat="dataA2plus in datosA2plus | filter: {id : '11'}"  >
                                                <td width="20%">{{dataA2plus.titulo}}</td>
                                                <td width="80%" ng-bind-html='dataA2plus.contenido'></td>
                                            </tr>
                                        </table>
                                        <table class="tableA2plus" width="100%"  ng-show="unitA2plus=='twelve'">
                                            <tr ng-repeat="dataA2plus in datosA2plus | filter: {id : '12'}"  >
                                                <td width="20%">{{dataA2plus.titulo}}</td>
                                                <td width="80%" ng-bind-html='dataA2plus.contenido'></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!--  ================================== fin show a2 plus ===================================-->
                                <!--  ================================== show b1 ===================================-->
                                <div ng-show="showB1">
                                        <h1 class="titB1">
                                                Scope and Sequence Level 3
                                        </h1>

                                        <div class="wrapsScopeSel">
                                                <p>unit</p>
                                                <select ng-model="unitB1">
                                                        <option value="one"> 1 Sign In</option>
                                                        <option value="two" >2 My Profile</option>
                                                        <option value="tree">3 Family and Friends</option>
                                                        <option value="four">4 My Social Network</option>
                                                        <option value="five">5 My Community</option>
                                                </select>
                                        </div>


                                        <div class="tableScope" >
                                                <table class="tableB1" width="100%"  ng-show="unitB1=='one' ">
                                                          <tr ng-repeat="dataB1 in datosB1 | filter: {id : 01} "  >
                                                                    <td width="20%">{{dataB1.titulo}}</td>
                                                                    <td width="80%"> {{dataB1.contenido}}</td>
                                                          </tr>
                                                </table>
                                                <table class="tableB1" width="100%"  ng-show="unitB1=='two'">
                                                          <tr ng-repeat="dataB1 in datosB1 | filter: {id : 02}"  >
                                                                    <td width="20%">{{dataB1.titulo}}</td>
                                                                    <td width="80%"> {{dataB1.contenido}}</td>
                                                          </tr>
                                                </table>
                                        </div>
                                </div>
                                <!--  ================================== fin show b1 ===================================-->
                                <!--  ================================== show b1 plus===================================-->
                                <div ng-show="showB1plus">
                                        <h1 class="titB1plus">
                                                Scope and Sequence Level 3
                                        </h1>

                                        <div class="wrapsScopeSel">
                                                <p>unit</p>
                                                <select ng-model="unitB1plus">
                                                        <option value="one">1 Important Events and Disasters</option>
                                                        <option value="two">2 Current Affairs </option>
                                                        <option value="tree">3 Wishes and Dreams</option>
                                                        <option value="four">4 Personal Interest</option>
                                                        <option value="five">5 Games</option>
                                                        <option value="six">6 Working world</option>
                                                        <option value="seven">7 “And how does that make you feel?”</option>
                                                        <option value="eight">8 Complaints</option>
                                                        <option value="nine">9 Field of Expertise</option>
                                                        <option value="ten">10 Stories</option>
                                                        <option value="eleven">11 International Trave</option>
                                                        <option value="twelve">12 Visits and Exchanges</option>
                                                </select>
                                        </div>


                                        <div class="tableScope" >
                                            <table class="tableB1plus" width="100%"  ng-show="unitB1plus=='one' ">
                                                <tr ng-repeat="dataB1plus in datosB1plus | filter: {id : '01'} "  >
                                                    <td width="20%">{{dataB1plus.titulo}}</td>
                                                    <td width="80%" ng-bind-html="dataB1plus.contenido"></td>
                                                </tr>
                                            </table>
                                            <table class="tableB1plus" width="100%"  ng-show="unitB1plus=='two' ">
                                                <tr ng-repeat="dataB1plus in datosB1plus | filter: {id : '02'} "  >
                                                    <td width="20%">{{dataB1plus.titulo}}</td>
                                                    <td width="80%" ng-bind-html="dataB1plus.contenido"></td>
                                                </tr>
                                            </table>
                                            <table class="tableB1plus" width="100%"  ng-show="unitB1plus=='tree' ">
                                                <tr ng-repeat="dataB1plus in datosB1plus | filter: {id : '03'} "  >
                                                    <td width="20%">{{dataB1plus.titulo}}</td>
                                                    <td width="80%" ng-bind-html="dataB1plus.contenido"></td>
                                                </tr>
                                            </table>
                                            <table class="tableB1plus" width="100%"  ng-show="unitB1plus=='four' ">
                                                <tr ng-repeat="dataB1plus in datosB1plus | filter: {id : '04'} "  >
                                                    <td width="20%">{{dataB1plus.titulo}}</td>
                                                    <td width="80%" ng-bind-html="dataB1plus.contenido"></td>
                                                </tr>
                                            </table>
                                            <table class="tableB1plus" width="100%"  ng-show="unitB1plus=='five' ">
                                                <tr ng-repeat="dataB1plus in datosB1plus | filter: {id : '05'} "  >
                                                    <td width="20%">{{dataB1plus.titulo}}</td>
                                                    <td width="80%" ng-bind-html="dataB1plus.contenido"></td>
                                                </tr>
                                            </table>
                                            <table class="tableB1plus" width="100%"  ng-show="unitB1plus=='six' ">
                                                <tr ng-repeat="dataB1plus in datosB1plus | filter: {id : '06'} "  >
                                                    <td width="20%">{{dataB1plus.titulo}}</td>
                                                    <td width="80%" ng-bind-html="dataB1plus.contenido"></td>
                                                </tr>
                                            </table>
                                            <table class="tableB1plus" width="100%"  ng-show="unitB1plus=='seven' ">
                                                <tr ng-repeat="dataB1plus in datosB1plus | filter: {id : '07'} "  >
                                                    <td width="20%">{{dataB1plus.titulo}}</td>
                                                    <td width="80%" ng-bind-html="dataB1plus.contenido"></td>
                                                </tr>
                                            </table>
                                            <table class="tableB1plus" width="100%"  ng-show="unitB1plus=='eight' ">
                                                <tr ng-repeat="dataB1plus in datosB1plus | filter: {id : '08'} "  >
                                                    <td width="20%">{{dataB1plus.titulo}}</td>
                                                    <td width="80%" ng-bind-html="dataB1plus.contenido"></td>
                                                </tr>
                                            </table>
                                            <table class="tableB1plus" width="100%"  ng-show="unitB1plus=='nine' ">
                                                <tr ng-repeat="dataB1plus in datosB1plus | filter: {id : '09'} "  >
                                                    <td width="20%">{{dataB1plus.titulo}}</td>
                                                    <td width="80%" ng-bind-html="dataB1plus.contenido"></td>
                                                </tr>
                                            </table>
                                            <table class="tableB1plus" width="100%"  ng-show="unitB1plus=='ten' ">
                                                <tr ng-repeat="dataB1plus in datosB1plus | filter: {id : '10'} "  >
                                                    <td width="20%">{{dataB1plus.titulo}}</td>
                                                    <td width="80%" ng-bind-html="dataB1plus.contenido"></td>
                                                </tr>
                                            </table>
                                            <table class="tableB1plus" width="100%"  ng-show="unitB1plus=='eleven' ">
                                                <tr ng-repeat="dataB1plus in datosB1plus | filter: {id : '11'} "  >
                                                    <td width="20%">{{dataB1plus.titulo}}</td>
                                                    <td width="80%" ng-bind-html="dataB1plus.contenido"></td>
                                                </tr>
                                            </table>
                                            <table class="tableB1plus" width="100%"  ng-show="unitB1plus=='twelve' ">
                                                <tr ng-repeat="dataB1plus in datosB1plus | filter: {id : '12'} "  >
                                                    <td width="20%">{{dataB1plus.titulo}}</td>
                                                    <td width="80%" ng-bind-html="dataB1plus.contenido"></td>
                                                </tr>
                                            </table>
                                        </div>
                                </div>
                                <!--  ================================== fin show b1  plus ===================================-->

                        </div>
                </div>
        </section>

        <!--============================================================  fin contenido ==============================================================-->


        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')

        </script>



        <script src="js/main.js"></script>
    </body>
</html>
